<mat-form-field class="container-select">
    <mat-label>Pays</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option.country }}
    </mat-option>
    </mat-autocomplete>
</mat-form-field>

<div class="container-content" >
    <!-- Spinner -->
    <mat-spinner class="spinner" *ngIf="loading; else display" [diameter]="55"></mat-spinner>
    <ng-template #display>
        <mat-card *ngFor="let element of trendKeywords">
            <mat-card-title>{{ element.name }}</mat-card-title>
            <mat-card-subtitle><a href="{{ element.url }}">{{ element.url }}</a></mat-card-subtitle>
            <mat-card-content> {{ element.tweet_volume || 'N/A' }} tweets</mat-card-content>
        </mat-card>
    </ng-template>
</div>