mat-card {
    margin: 10px 10px;
    max-height: max-content;
}

.container-content {
    overflow-y: auto;
    justify-content: center;
    flex-direction: column;
    width: 38.8rem;
    height: 60vh;
    margin: 2.5rem auto 0 auto;
}

.spinner {
    margin: auto;
}

.container-select {
    width: 100%;
}
