mat-card {
    margin: 10px 10px;
    display: relative;
    max-height: max-content;
}

.container-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll; 
    overflow-x: hidden;
    width: 38.8rem;
    height: 80vh;
    position: relative;
    margin: 2.5rem auto 0 auto;
}

.spinner {
    margin: auto;
}

.container-select {
    position: absolute;
    font-size: x-large;
    top: 10vh;
    left: 43vw;
}