mat-card {
    margin: 10px;
}

.container-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll; 
    height: 70vh;
}

.spinner {
    margin: auto;
}

.container-select {
    display: flex;
    justify-content: center;
    font-size: x-large;
}