<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            <a mat-raised-button routerLink="/home">Accueil</a>
            <ng-container *ngIf=!auth.isLoggedIn>
                <a mat-raised-button routerLink="/login">Connexion</a>
                <a mat-raised-button routerLink="/signup">Inscription</a>
            </ng-container>
            <a mat-raised-button *ngIf="auth.isLoggedIn" (click)="auth.Logout()">Déconnexion</a> 
        </div>
    </mat-toolbar-row>
</mat-toolbar>