mat-toolbar {
    height: 48px;
    display: flex;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;

    .header-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;

        .left {
            display: flex;
            flex-direction: row;

            .logo_title {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 60px;
                cursor: pointer;
                outline: 0;

                .logo {
                    background: url("../../../assets/twitter-white.svg");
                    margin-right: 15px;
                }
                h1 {
                    font-weight: bold;
                }
            }

            .links {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }
        }

        .right {
            display: flex;
            flex-direction: row;
            align-items: center;

            .disconnect-icon {
                background: url("../../../assets/logout.svg");
                background-size: cover;
                margin-right: 3px;
            }
        }
    }
}
a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-right: 14px;
    outline: 0;
}
.underline-active {
    text-decoration: underline;
}
