<div class="tweet">
    <div class="tweet__profile">
        <img src="{{tweet.user.profile_image_url_https}}" alt="">
    </div>
    <div class="tweet__body">
        <div class="tweet__body--user">
            {{ tweet.user.name }} <span class="username">@{{ tweet.user.screen_name }}</span>
        </div>
        <div class="tweet__body--date">
            {{ tweet.created_at | date: 'short'}}
        </div>
        <div class="tweet__body--description">
            {{ tweet.text }}
        </div>
        <div class="tweet__body--hashtags">
           <ng-container *ngFor="let hashtag of tweet.entities.hashtags">
                {{ hashtag.text }} 
           </ng-container>
        </div>
        <div class="tweet__body--img">
            <img *ngIf="tweet.entities.media" src="{{tweet.entities.media[0].media_url_https}}" height="365" width="456">
        </div>

    </div>
</div>