<!-- 
<div class="container">
    <div *ngFor="let keyword of keywords" class="keyword">
        <div class="keyword-content">
            <div class="infos">
                <p>ID#{{ keyword.id }}</p>
                <h3>{{ keyword.keyword }} </h3>

                <div class="button-container">
                    <button>Accéder aux stats</button>
                    <button>Supprimer</button>
                </div>
            </div>
           
            <div class="tweets_number">
                <span class="number">{{ keyword.tweets_number }}</span>
                <span class="text">tweets</span>
            </div>
        </div>
    </div>
</div> -->


<router-outlet></router-outlet>