
.container {
    max-width: 1080px;
    margin: auto;
}

.keyword {
    margin-bottom: 10px;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    color: #000000;
}

.keyword:hover {
    color: #4050B5;
}

.keyword-content {
    background-color : #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.keyword-content h3 {
    text-transform: uppercase;
}

.tweets_number  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: auto;
}
.tweets_number .number {
    font-size: 48px;
}

.tweets_number .text {
    font-size: 11px;
    margin-top: 10px;
}
