.form-container {
    width: 30%;
    flex-direction: column;
    display: flex;
    margin: 50px auto;
    background: #f7f7f7;
    padding: 50px;


    .spinner {
        margin-top: 20px;
    }

    .signup-a {
        margin-top: 8px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        text-decoration: none;
        font-weight: 700;
    }

    .container-login {
        justify-content: space-between;
        display: flex;
    }

    .error-handler {
        text-align: center;
    }

    .validation-button {
        width:153px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        text-decoration: none;
        font-weight: 700;
    }
}