button {
    margin: 0 5px;
}

.buttons-container {
    margin-left: 30px;
    margin-top: 15px
}

.twitter-logo {
    background: url("../../../assets/twitter.svg");
}

ol {
    list-style: none;
    li {
        margin-bottom: 30px;
    }
}

.tweets-container {
    margin: 30px auto 0 auto;
    max-width: max-content;
    padding: 0 50px;
    max-height: 70vh;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}