<div class="buttons-container">
  <button mat-raised-button (click)="RedirectToTwitter()">{{tweeterConnectStatus}}
    <mat-icon class="twitter-logo"></mat-icon>
  </button>
  <br />
  <br />
  <button mat-raised-button (click)="GetUserTweets()">Montrer/Mettre à jour fil twitter</button>
  <button mat-raised-button (click)="HideFeed()">Cacher fil twitter</button>
</div>

<div *ngIf="showfeed">
  <div>
    <h2>
      Tweets
    </h2>
    <ol>
      <li *ngFor="let tweet of tweets">
        <app-tweet [tweet]="tweet"></app-tweet>
      </li>
    </ol>
  </div>
</div>