<div class="bloc_infos_user mat-elevation-z8" *ngIf="this.info">
    <div class="banner_image">
        <img src="{{info.profile_banner_url }}" alt="bannière de {{info.name}}">
    </div>
    <div class="content">
        <div class="image">
            <img src="{{info.profile_image_url_https | defaultUrlImgUser }}" alt="photo de {{info.name}}">
        </div>
        <div class="identite">
            <div><span class="name">{{info.name}}</span> <span class="screen_name"> @{{info.screen_name}}</span></div>
        </div>
        <div class="description">
            <p>{{info.description}}</p>
        </div>
        <div class="others_infos"> 
            <div class="location">
                <span class="icon">
                    <img src="../../../assets/marker.svg" alt="location">
                </span>
                <span class="text">{{info.location}}</span>
            </div>
            <div class="created_at">
                <span class="icon">
                    <img src="../../../assets/calendar.svg" alt="calendar">
                </span>
                <span class="text">à rejoint twitter en {{info.created_at | date:'MM'| monthTranslateFrPipe }} {{info.created_at | date:'yyyy'}} </span>
            </div>
        </div>
        <div class="follow_infos">
            <div class="followers">
                <span class="count">{{info.followers_count}} </span>
                <span class="text">abonnés</span>
            </div>
            <div class="friends">
                <span class="count">{{info.friends_count}} </span>
                <span class="text">abonnements</span>
            </div>
        </div>
    </div>
</div>

