<div class="keywords-container">
    <button mat-raised-button (click)="GetKeywordsByIdUserAndKeyword(inputKeyword)">Montrer les keywords
        spécifique</button>
    <br />
    <mat-form-field class="bg">         
        <mat-label>Mot clé</mat-label>
        <input matInput type="text" [(ngModel)]="inputKeyword">
    </mat-form-field>
    

    <div class="chartist"
        *ngIf="labels.length > 0 && series.length > 0">
        <h1 *ngIf="specificKeywords"> {{specificKeywords[0].keyword}}</h1>
        <app-bar-chart [labels]="labels" [series]="series"></app-bar-chart>
    </div>
</div>