<div class="keywords-container">
    <mat-form-field>
        <mat-label>Tendance</mat-label>
        <mat-select>
            <mat-option *ngFor="let trend of franceTrend" [value]="trend" (click)="GetAllKeywordsByKeyword(trend)">{{trend}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div style="width: 700px;margin: auto;background-color: rgba(255, 255, 255, 0.6);"
        *ngIf="labels.length > 0 && series.length > 0">
        <app-bar-chart [labels]="labels" [series]="series"></app-bar-chart>
    </div>
</div>