.keywords-container {
    margin-top: 30px;
    margin-left: 30px;
}

.bg {
    background-color: #fefefe;
    height: 50px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 2.5%;
}

.chartist {
    width: 700px;
    margin: auto;background-color: rgba(255, 255, 255, 0.6);

    h1 {
        text-align: center;
    }
}