.tweets-container {
    margin: 0px auto 0 auto;
    width: 38.8rem;
    padding: 0 50px;
    height: 40vh;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 15px;
}
ol {
    list-style: none;
    li {
        margin-bottom: 30px;
    }
}

.spinner-container {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    left: 50%;
    transform: translateX(-50%);
}