/* You can add global styles to this file, and also import other style files */

html,
body {
    min-height: 100%;
    overflow-y: auto;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url("./assets/material-wp1.jpg") no-repeat center center;
    // Quand on load les tweets la page stretch et la background image se casse
    // cette ligne adapte le background à la page
    background-size: 100% 100%;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  //border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192, 96, 52);
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 96, 52);
}
